<h3>Details</h3>

<div class="form-group" style="width:150px;">
        <label class="control-label">Location</label>       
        <input class="form-control" type="text" ng-model="eedit.location"/>
    
</div>

<div class="form-group">
    <label class="control-label">Description</label>
    <textarea class="form-control" rows="3" ng-model="eedit.description"></textarea>
</div>
<br>
<button class="btn btn-primary pull-right" ng-click="saveEvent()">Save</button>



	