<style>
	.action-controls{
	position:fixed;
	bottom:50px;
	right:50px;
}
</style>

<h2>My Events</h2>
<br>
<div class="row">
		<div class=" col-xs-12 col-md-4" ng-repeat="event in events">
				<div class="card">
						<div class="card-header" data-background-color="" style="padding:0 0 0 0;">
								<img src="https://financesonline.com/uploads/2017/10/ev.jpg" alt="Rounded Image" class="img-rounded img-responsive">
							</div>
						<div class="card-content">
								<h2 class="title" editable-text="event.title" e-label="" onaftersave="saveEvent(event)">{{ event.title || 'empty' }}</h2>
						</div>
						<div class="card-footer">
								<a ui-sref="account.event.details({eventId: event.$id})" class="btn btn-info">View</a>
								<a ng-click="deleteEvent(event)" class="btn btn-danger">Delete</a>
						</div>
					</div>
		
		</div>
</div>

<div class="action-controls">
		<button type="submit" class="btn btn-primary btn-fab btn-round" ng-click="createEvent()" data-toggle="tooltip" data-placement="top" title="New Event"><i class="material-icons">add</i></button>
		<script>$('[data-toggle="tooltip"]').tooltip();</script>
</div>



