
<br>
<br>
<div class="card navbar-default">
        <div class="card-header" data-background-color="" style="padding:0 0 0 0;">
                        <img src="https://financesonline.com/uploads/2017/10/ev.jpg" alt="Rounded Image" class="img-rounded img-responsive">
        </div>
        <div class="card-content">
                        <div class="pull-left">
                                <h3 class="" editable-text="event.title" e-label="">{{ event.title || 'empty' }}</h3>
                        </div>
                        <div class="nav navbar-nav pull-right">
                                        
                                        <ul class="nav navbar-nav" style="text-align:center;">
                                                        <li><a ui-sref="account.event.details" ><i class="material-icons">event</i><p>Details</p></a></li>
                                                        <li><a ui-sref="account.event.members"><i class="material-icons">face</i><p>Members</p></a></li>
                                                        <li><a ui-sref="account.event.polls" ><i class="material-icons">poll</i><p>Polls</p></a></li>
                                                        <li><a ui-sref="account.event.tasks"><i class="material-icons">done</i><p>Tasks</p></a></li>   
                                        </ul>

                        </div>
                        
        </div>  
</div>

<div class="card">
        <div class="card-content">
                        <div ui-view></div>
        </div>
                
</div>



