<h3>Members</h3>

<table class="table" >
    <thead>
        <tr>
            <th>Name</th>
            <th>Role</th>
        </tr>
    </thead>
    <tbody>
        <!-- <tr ng-repeat="member in event.members">
           <td>{{member.userId}}</td>
            <td>{{member.role}}</td> 
        </tr> -->
        <tr>
           <td>{{user.profile.firstName}}&nbsp;{{user.profile.lastName}}</td>
           <td>Admin</td>
        </tr>
        <tr>
           <td>Johnny Johnson</td>
           <td>User</td>
        </tr>
       <tr>
           <td>Oscar Fennell</td>
           <td>User</td>
        </tr>
        <tr>
           <td>Ben Conlon</td>
           <td>User</td>
        </tr>
       <tr id= 'hidethis' style="display:none;">
           <td>Ade Teriba</td>
           <td>User</td>
        </tr>
    </tbody> 
</table>
<br>
<br>
<h4>Add new member</h4>
<div class="form-group">
        <input type="text" class="form-control" style="width:300px;" placeholder="Name"/>
        <button class="btn btn-primary" onclick="toggle()">Add</button>
</div>


<script>
	function toggle() {
 if( document.getElementById("hidethis").style.display=='none' ){
   document.getElementById("hidethis").style.display = 'table-row';
 }else{
   document.getElementById("hidethis").style.display = 'none';
 }
}
</script>

                