<a ui-sref="account.event.polls" class="btn btn-default" role="button"><span class="glyphicon glyphicon-arrow-left"></span></a>
<h3 style="text-align:center;">Create New Poll</h3>


<form role="form" ng-submit="createPoll()">
	<div class="form-group">
		<label for="pollQuestion">Question</label>
		<input type="text" ng-model="poll.question" class="form-control" id="pollQuestion" placeholder="Enter poll question">
	</div>
	
	<div class="form-group">
		<label>Choices</label>
		<div ng-repeat="choice in poll.choices">
			<input type="text" ng-model="choice.text" class="form-control" placeholder="Enter choice {{$index+1}} text"><br>
		</div>
	</div>		
	
	<div class="row">
		<div class="col-xs-12">
			<button type="button" class="btn btn-default" ng-click="addChoice()"><span class="glyphicon glyphicon-plus"></span> Add Choice</button>
			<button class="btn btn-primary pull-right" type="submit">Create Poll &raquo;</button>
		</div>
	</div>
</form>
