<a ui-sref="account.event.polls" class="btn btn-default" role="button"><span class="glyphicon glyphicon-arrow-left"></span></a> 
<div style="text-align:center;">
	<h3>{{poll.question}}</h3>
	<strong><p class="">Please select one of the following options:</p></strong>
	<form role="form inline-form" style="max-width:290px; margin:0 auto; text-align:left;">
		<div ng-repeat="choice in poll.choices" class="radio">
			<div class="radio">
				<label>
					<input type="radio" name="choice" ng-model="$parent.userVote" value="{{$index}}">
					<span class="circle"></span><span class="check"></span>
					{{choice.text}} 
				</label>
				</div>
		</div>
		<br>
		
	</form>
	<button class="btn btn-primary" ng-click="vote()" ng-disabled="userVoted" type="submit">Vote</button>
</div>

<h3>Poll results</h3>
<p>{{ poll.totalVotes }} votes so far.</p>
<br>
<div>
	<table class="table table-condensed result-table">
		<tr ng-repeat="choice in poll.choices">
			<td><strong>{{choice.text}}</strong> ({{choice.votes}}) votes</td>
			<td><div class="progress">
					<div class="progress-bar" role="progressbar" aria-valuenow="{{ (choice.votes / $parent.poll.totalVotes)*100 }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ (choice.votes / $parent.poll.totalVotes)*100 }}%;"> <span class="sr-only">{{ (choice.votes / $parent.poll.totalVotes)*100 }}%</span> </div>
				</div>
			</td>
		</tr>
	</table>
</div>

