<h3>Polls</h3>


<div class="row" ng-switch on="Polls.length">
	<div class="col-xs-12">
		<div ng-switch-when="0">
			<h4 style="text-align:center;"><em>You have no polls yet. Would you like to <a ui-sref="account.event.createPoll">create one</a>?</em></h4>
		</div>
		<div ng-switch-default>
			<input type="text" class="form-control pull-right" ng-model="query" placeholder="Search for a poll">
			<br>
			<br>
			<div ng-repeat="poll in Polls | filter:query">
				<h4><a  ui-sref="account.event.poll({pollId: poll.$id})"><span class="glyphicon glyphicon-stats"></span> {{poll.question}}</a> <small><em>({{poll.totalVotes}} votes)</em></small></h4>
			</div>
			<a ui-sref="account.event.createPoll" class="btn btn-primary pull-right"><span class="glyphicon glyphicon-plus"></span> New Poll</a>
		</div>
	</div>
</div>