@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css");

.editable-click, a.editable-click {
    border-bottom: none;
}

body{
    background: #fafafa;
}   


.navbar {

    box-shadow: 0 10px 20px -12px rgba(0, 0, 0, 0.42), 0 3px 20px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);

}

.table>thead>tr>th{
    font-weight: bold;
}

.center-text {
    text-align: center;
}