<div class="page-header">
	<h1>Create New Checklist</h1>
</div>

<form role="form" ng-submit="createChecklist()">
	<div class="form-group">
		<label for="pollQuestion">Add Item</label>
		<input type="text" ng-model="poll.question" class="form-control" id="pollQuestion" placeholder="Enter item">
	</div>
		
	
	<div class="row">
		<div class="col-xs-12">
			<button type="button" class="btn btn-default" ng-click="addChoice()"><span class="glyphicon glyphicon-plus"></span> Add another</button>
		</div>
	</div>
	
	<p><hr></p>
	
	<div class="row">
		<div class="col-xs-6">
			
			<a ui-sref="account.event.polls" class="btn btn-default" role="button"><span class="glyphicon glyphicon-arrow-left"></span> Back to Checklist</a>
		</div>
		<div class="col-xs-6">
			<button class="btn btn-primary pull-right" type="submit">Create Checklist &raquo;</button>
		</div>
	</div>
	
	<p>&nbsp;</p>
</form>
