<h3>Tasks</h3>
<table class="table">
        <thead>
            <th>Task</th>
            <th>Due Date</th>
            <th>Assignee</th>
            <th>Done</th>
        </thead>
        <tbody>
            <tr>
                
                <td>Collect money from everyone</td>
                <td class="td-actions text-right">
                        <span>15/8/18</span> 
                </td>
                <td>{{user.profile.firstName}} &nbsp;{{user.profile.lastName}}</td>
                <td>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="optionsCheckboxes" checked="">
                                
                            </label>
                        </div>
                    </td>
            </tr>
            <tr>
               
                <td>Book car hire</td>
                <td class="td-actions text-right">
                    <span>15/8/18</span> 
                </td>
                <td>{{user.profile.firstName}} &nbsp;{{user.profile.lastName}}</td>
                <td>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="optionsCheckboxes">
                            </label>
                        </div>
                    </td>
            </tr>
            <tr>
                <td>Find a place to stay
                </td>
                <td class="td-actions text-right">
                        <span>15/8/18</span> 
                </td>
                <td>{{user.profile.firstName}} &nbsp;{{user.profile.lastName}}</td>
                <td>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="optionsCheckboxes">
                            </label>
                        </div>
                    </td>
            </tr>
            <tr>
 
                <td>Organise night out</td>
                <td class="td-actions text-right">
                        <span>15/8/18</span> 
                </td>
                <td>{{user.profile.firstName}} &nbsp;{{user.profile.lastName}}</td>
                <td>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="optionsCheckboxes" checked="">
                            </label>
                        </div>
                    </td>
            </tr>
        </tbody>
    </table>