
<style>
    #login-view form {
        width:90%;
        max-width:320px;
        margin:0 auto;
        margin-top:10%;
        padding:40px;
        text-align: center;
    }

    #login-view form .illustration {
        padding:0 0 20px;
        font-size:100px;
    }
</style>


<div id="login-view">
    <form ng-submit="login()">
        <h2 class="sr-only">Log In</h2>
        <div id ="image11">
    <span>
  <img class="manImg" src="images/LogoPlanME.png" height=160px width=220px></img>
        </span>
      </div>
        <div class="form-group">
            <input class="form-control" type="email" name="email" placeholder="Email" ng-model="email">
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="password" placeholder="Password" ng-model="password">
        </div>
        <div class="form-group">
            <button class="btn btn-primary btn-lg btn-block" type="submit">Log In</button>
        </div>
        <br>
				{{message}}
        {{error}}
        <br>
        <br>
        <a ui-sref="signup">Signup Instead</a>
    </form>
</div>
