

  <!--br>
  <br>
  <img ng-src="{{userProfile.photoUrl}}" style="width:70px;height:70px;padding:0px; margin: 1px; 0px">
  <br>
  <br>
  <br>
  <label>First Name</label> {{userProfile.firstName}}<br>
  <label>Last Name</label> {{userProfile.lastName}} <br>
<label>Email</label> {{user.account.email}}<br>
<label>Date of Birth</label> 27.06.1997<br>
<label>City</label> Dublin<br>
<label>Languages</label> English, French <br>
<br-->

<h2>Profile</h2>
<div class="row">
		<div class="col-md-4">
				<br>
				<br>
				<br>
				<div class="card card-profile">
					<div class="card-avatar">
						<a href="#pablo">
							<img class="img" ng-src="{{userProfile.photoUrl}}" />
						</a>
					</div>
					<div class="content">
						<h4 class="card-title">{{userProfile.firstName}}&nbsp;{{userProfile.lastName}}</h4>
						<label class="category text-gray">{{user.account.email}}</label>
						<p class="card-content" >
							{{userProfile.about}}
						</p>
						<!--a href="#pablo" class="btn btn-primary btn-round">Follow</a-->
					</div>
				</div>
			</div>
		<div class="col-md-8">
			<div class="card">
				<div class="card-header" data-background-color="purple">
					<h4 class="title">Edit Profile</h4>
					<p class="category">Complete your profile</p>
				</div>
				<div class="card-content">
					<form>
						<div class="row">
							<div class="col-md-4">
								<div class="form-group label-floating">
									<label class="control-label">First Name </label>
									<input type="text" class="form-control" ng-model="userProfileEdit.firstName">
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group label-floating">
									<label class="control-label">Last Name</label>
									<input type="text" class="form-control" ng-model="userProfileEdit.lastName">
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group label-floating">
									<label class="control-label">Email address (disabled)</label>
									<input type="email" class="form-control"  ng-model="user.account.email">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="form-group label-floating">
									<label class="control-label" >Address</label>
									<input type="text" class="form-control" ng-model="userProfileEdit.address">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-4">
								<div class="form-group label-floating">
									<label class="control-label">City</label>
									<input type="text" class="form-control" ng-model="userProfileEdit.city">
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group label-floating">
									<label class="control-label" >Country</label>
									<input type="text" class="form-control" ng-model="userProfileEdit.country">
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group label-floating">
									<label class="control-label" >Post Code</label>
									<input type="text" class="form-control" ng-model="userProfileEdit.postCode">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									<div class="form-group label-floating">
										<label class="control-label">About</label>
										<textarea class="form-control" rows="5" ng-model="userProfileEdit.about"></textarea>
									</div>
								</div>
							</div>
						</div>
						<button type="submit" class="btn btn-primary pull-right" ng-click="updateProfile()">Update Profile</button>
						<div class="clearfix"></div>
					</form>
				</div>
			</div>
		</div>

	</div>
