
<style>
    #signup-view form {
        width:90%;
        max-width:320px;
        margin:0 auto;
        margin-top:5%;
        padding:40px;
        text-align: center;
    }

    #signup-view form .illustration {
        padding:0 0 20px;
        font-size:100px;
    }
    #image11{
      height:160px;
      width:120px;
      text-align: center;


    }
</style>


<div id="signup-view">
    <form ng-submit="createUser()">
        <h2 class="sr-only">Sign Up</h2>
        <div id ="image11">
    <span>
  <img class="manImg" src="images/LogoPlanME.png" height=160px width="220px"""></img>
        </span>
      </div>
        <br>
        <div class="form-group">
            <input class="form-control" type="text" name="firstName" placeholder="First Name" ng-model="firstName">
        </div>
        <div class="form-group">
            <input class="form-control" type="text" name="LastName" placeholder="Last Name" ng-model="lastName">
        </div>
        <div class="form-group">
            <input class="form-control" type="email" name="email" placeholder="Email" ng-model="email">
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="password" placeholder="Password" ng-model="password">
        </div>
        <div class="form-group">
            <button id="signup-btn" class="btn btn-primary btn-lg btn-block" type="submit">Signup</button>
        </div>
        <br>
        {{message}}
        {{error.message}}
        <br>
        <br>
        <a ui-sref="login">Login Instead</a>
    </form>
</div>
